@model AbsenceManager.Models.CreateAbsenceAllocationViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<table class="table table-dark table-hover">
    <thead>
        <tr>
            <th>
                Absence Type
            </th>

            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.AbsenceTypes)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>

                <td>
                    @* @Html.ActionLink("Allocate to students", "SetAbsence", new { id = item.Id }) |*@
                    <a asp-action="SetAbsence" class="btn badge-primary" asp-route-id="@item.Id" >
                        <i class="fa fa-server" aria-hidden="true"></i>
                        Allocate to students
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
@*@section Scripts
{
    <script>
        $(document).ready(function () {
            $('#tblData').DataTable();
        });
    </script>
}*@